---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About – Ginger Kiwi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet" />

    <style is:global>
      @import "../styles/css-reset.css";
      @import "../styles/variables.css";
      @import "../styles/styles.css";
    </style>
  </head>

  <body>
    <Header />
    <main id="main">
        <div class="p--events">
        <h1>Events</h1>
        <p>In-person and online events for wheelchair users, the disabled community, and those interested in learning more about accessibility. An Eventbright page will be created during July to make registering easy.</p>
        <h2>Wheelie Fun Socials</h2>
        <p>Come join other wheelchair users for fun, accessible, in-person socials! Events are wheelie fun and relaxed with other wheelchair users. No wondering about steps, bathrooms, explaining your accessiblity needs. Just relaxing, fun social time in and around Toronto.</p>
        <h3>Wheelie Fun Women's Summer Social</h3>
        <ul>
            <li>Where: Toronto Islands</li>
            <li>Date: August - day tbd</li>
            <li>Cost: Free - pay your own ferry fare</li>
            <li>How to register: Eventbright link coming soon.</li>
        </ul>
    </div>
    </main>
    <Footer />
</body>
</html>