---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About – Ginger Kiwi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Federo&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style is:global>
      @import "../styles/css-reset.css";
      @import "../styles/variables.css";
      @import "../styles/styles.css";
    </style>
  </head>

  <body>
    <Header />
    <main id="main">
        <h1>CURB CUTS AND CONVERSATIONS PODCAST</h1>
        <section>
            <h2>About the Podcast</h2>
            <p>Curb Cuts and Conversations is a monthly podcast about accessible urbanism, public transit, and wheelchair life with experts and lived experience voices. Hosted by Elizabeth McCready (@GingerKiwiOnWheels) with regular cameos by one of her two cats Boo, and a different guest every episode.

                Watch on YouTube!
                
                Guests
                
                Episode 001: Sara Hendren, author of "What Can a Body Do? How We Meet the Built World" was Liz's guest in the first episode.
                
                Merch Shop!
                
                Do you love the quirky design of Curb Cuts and Conversations' show art?
                
                If so, visit the Ginger Kiwi On Wheels merch shop: https://shop.gingerkiwi.blog.
                
                All show and merch shop artwork is designed in Toronto, Canada by Elizabeth McCready. No AI is used in the design process! (Yes, that TTC streetcar was completely drawn by hand in Figma on a MacBook Pro.)
                
                Watch or listen to each episode for an audience only discount code.
                
                If you've read this far in the show notes, you deserve a special discount code! Here's an extra 10% off your first $50 (usd) purchase including sale items. https://shop.gingerkiwi.blog/promo/SHOWNOTES10
                
                About Liz McCready, Host of Curb Cuts and Conversations
                
                In addition to undergraduate and postgraduate courses in urban planning, Liz has lived and professional experience in disability advocacy and accessibility:
                
                She's a wheelchair user with hypermobility, hearing loss, and a recovered ptsd survivor
                Her mom is legally blind, so Liz grew up being a "seeing guide daughter"
                For 18 years she worked privately with students with invisible disabilities, neurodivergence, and giftedness in k-12 and postsecondary.
                Liz is a recuse cat mom to Boo and Maybel, an addicted knitter, and a volunteer with over 15,000 volunteer hours. In January, 2025 she started project management and advanced marketing certificates at the University of Toronto.
                
                </p>
        </section>


    </main>
      <Footer />
  </body>
</html>
