---
---
<!-- // src/components/Footer.astro -->

<footer>
    <nav aria-label="secondary navigation" class="nav--secondary">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/#design-work">Design</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="copyright">
      <p>
        Copyright 2024–{new Date().getFullYear()} © Elizabeth M<sup>c</sup>Cready. All Rights Reserved. <br />
        Designed in Figma and Coded with Astro by Elizabeth M<sup>c</sup>Cready.
      </p>
    </div>
  </footer>
  